.button {
  color: white;
  border: 2px solid white;
  font: 700 1.1429rem/1rem var(--font-neueMachina);
  background: none;
  box-shadow: none;
  padding: 1.4643rem 3.5714rem 1rem 3.6429rem;
  cursor: pointer;
}
