.section {
  height: 100vh;
  padding: 2.5357rem 6.5714rem 0 6.9286rem;
  min-height: 600px;

  &_intro {
    background: url(/bg/bg_1.jpg) no-repeat center;
  }

  &_factions {
    background: url(/bg/bg_2.jpg) no-repeat center;
  }

  &_intro,
  &_factions {
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_roadMap {
    background: linear-gradient(to bottom, #1e202c 0%, #13151b 100%);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -150px;
      left: 0;
      height: 150px;
      width: 100%;
      background: linear-gradient(to bottom, rgba(30, 32, 44, 0) 0%, rgba(30, 32, 44, 1) 100%);
      z-index: 0;
    }
  }
}

.header {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  gap: 2.2143rem;
  position: absolute;
  top: 2.5357rem;
  left: 3.9286rem;
  right: 3.5714rem;
  z-index: 9;
}

.buttonList {
  display: flex;
  justify-content: center;
  gap: 1.4286rem;
}
